/* main.css - CNS Dashboard */
/* Copyright 2025 Padi, Inc. All Rights Reserved. */

@charset "utf-8";

@font-face {
  font-family: "font";
  src: url("font.ttf");
}

@font-face {
  font-family: "icons";
  src: url("icons.ttf");
}

:root {
  --font: "font";
  --icons: "icons";
  --screen: #fafafa;
  --text: #202020;
  --title: #f5f5f5;
  --table: #ffffff;
  --header: #888888;
  --border: #e0e0e0;
  --anchor: #0d2192;
  --button: #888888;
  --hover: #f0f0f0;
  --hilight: #0d2192;
  --focus: #0d2192;
  --error: #af0606;
}

body[theme="dark"] {
  --screen: #303030;
  --text: #ffffff;
  --title: #212121;
  --table: #424242;
  --header: #c0c0c0;
  --border: #595959;
  --anchor: #2196f3;
  --button: #888888;
  --hover: #505050;
  --hilight: #ffffff;
  --focus: #2196f3;
  --error: #ed4337;
}

html {
  height: 100%;
}

body {
  font-family: var(--font);
  font-weight: 400;
  overscroll-behavior: none;
  background-color: var(--screen);
  color: var(--text);
  margin: 0;
  height: 100%;
  user-select: none;
}

main {
  height: 100%;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 16px 0;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 16px 0;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 16px 0;
}

p {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 16px 0;
}

p:last-of-type {
  margin: 0;
}

pre {
  margin: 0;
}

i {
  font-family: var(--icons);
  font-size: 24px;
  font-style: normal;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: var(--anchor);
}

a:hover,
a:focus-visible {
  text-decoration: underline;
}

button {
  font-family: var(--font);
  font-size: 14px;
  white-space: nowrap;
  align-items: center;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--button);
  border: none;
  border-radius: 2px;
  padding: 4px 16px;
  line-height: 32px;
}

button:has(menu) {
  position: relative;
}

button i {
  text-transform: none;
}

button[icon] {
  border-radius: 50%;
  padding: 6px;
  line-height: 20px;
  width: 36px;
  height: 36px;
}

button:not([icon]) i {
  margin: 0 8px 0 -8px;
}

button:focus-visible,
button:hover {
  background-color: var(--hover);
  cursor: pointer;
}

button+button {
  margin-left: 8px;
}

h1 button {
  float: right;
}

/*
h2 button {
  font-size: inherit;
  text-transform: none;
  margin: -8px 8px -8px -16px;
}

h2 button:hover {
  background-color: transparent;
  color: var(--hilight);
}*/

label {
  font-size: 12px;
  white-space: nowrap;
  color: var(--header);
}

label:has(input[type="checkbox"]),
label:has(input[type="radio"]) {
  font-size: 15px;
}

input {
  padding: 0;
  margin: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"] {
  font-family: var(--font);
  font-size: 15px;
  background-color: transparent;
  color: var(--text);
  border: none;
  border-bottom: 2px solid var(--border);
  margin: 0 0 16px 0;
  padding: 0 0 2px 0;
  width: 100%;
}

input[type="text"]:focus-visible,
input[type="password"]:focus-visible,
input[type="email"]:focus-visible,
input[type="url"]:focus-visible {
  border-color: var(--focus);
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="url"]:invalid {
  border-color: #ff5252;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 8px 8px 8px 0;
  width: 0.875rem;
  height: 0.875rem;
}

input[type="checkbox"]:focus-visible,
input[type="radio"]:focus-visible {
  outline: auto;
  outline-color: var(--focus);
}

textarea {
  font-family: var(--font);
  font-size: 15px;
  resize: vertical;
  background-color: transparent;
  color: var(--text);
  border: none;
  border-bottom: 2px solid var(--border);
  line-height: 20px;
  max-height: 300px;
  min-height: 20px;
  margin: 0 0 16px 0;
  padding: 0 0 2px 0;
  width: 100%;
}

textarea:focus-visible {
  border-color: var(--focus);
}

select {
  font-family: var(--font);
  font-size: 15px;
  background: none;
  color: var(--text);
  border: none;
  border-bottom: 2px solid var(--border);
  padding: 0 0 2px 0;
  margin: 0 0 16px 0;
  width: 100%;
}

select:focus-visible {
  border-color: var(--focus);
}

select:invalid {
  border-color: #ff5252;
}

center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

sub {
  height: 77px;
}

sub::before {
  content: "";
  display: inline-block;
  border: 8px solid var(--button);
  border-top: 8px solid var(--screen);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

mark {
  font-size: 14px;
  display: inline-block;
  white-space: nowrap;
  background-color: var(--button);
  color: var(--table);
  border-radius: 16px;
  padding: 0 16px;
  margin: 2px 0;
  line-height: 32px;
}

mark i {
  margin: 0 8px 0 -8px;
}

menu {
  position: absolute;
  background-color: #e4e3e3;
  border: 1px solid #c9c9c9;
  border-radius: 6px;
  box-shadow: 2px 2px 10px #c0c0c0;
  padding: 5px;
  top: 22px;
  right: 0;
  cursor: default;
  z-index: 100;
}

menu:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

menu li {
  list-style: none;
  text-align: left;
}

menu li a {
  font-size: 14px;
  display: block;
  text-transform: none;
  text-decoration: none;
  color: #222222;
  border-radius: 4px;
  padding: 5px 10px 4px 10px;
}

menu li a:hover,
menu li a:focus-visible {
  background-color: #509cfe;
  color: white;
}

menu hr {
  border-top: 1px solid #cac9c9;
  margin: 6px 10px;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: var(--table);
  border-right: 1px solid var(--border);
}

nav > div {
  flex-grow: 1;
}

nav button {
  display: flex;
  text-transform: none;
  border-top: 1px solid var(--border);
  border-radius: 0;
  padding: 0;
  margin: 0;
  line-height: 55px;
}

nav button i {
  font-size: 24px;
  padding: 0 16px;
  margin: 0 !important;
  width: 32px;
}

nav button span {
  font-size: 18px;
  white-space: nowrap;
  padding-right: 64px;
}

nav[list="collapse"] button span {
  display: none;
}

nav button:first-child,
nav div+button {
  border-top: 1px solid transparent;
}

header {
  font-size: 28px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--title);
  padding: 0 16px;
  line-height: 62px;
  height: 64px;
}

header > i {
  font-size: 32px;
  color: var(--hilight);
  margin-right: 16px;
}

header > div {
  font-size: 16px;
  flex-grow: 1;
  text-align: right;
  margin-left: 16px;
}

footer {
  font-size: 14px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--title);
  padding: 0 16px;
  line-height: 30px;
  height: 32px;
}

footer > div {
  text-align: right;
  margin-left: 16px;
  flex-grow: 1;
}

article {
  display: flex;
  height: 100%;
}

main:has(header) article {
  height: calc(100% - 64px);
}

main:has(footer) article {
  height: calc(100% - 32px);
}

main:has(header):has(footer) article {
  height: calc(100% - 96px);
}

section {
  flex-direction: column;
  overflow: scroll;
  box-sizing: border-box;
  width: 100%;
  padding: 40px 64px;
  min-width: 600px;
}

aside {
  overflow: scroll;
  background-color: var(--table);
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  padding: 20px;
  margin-bottom: 16px;
}

aside:has(table) {
  padding: 0;
}

aside:empty {
  display: none;
}

form {
/*
  background-color: var(--table);
*/
  box-sizing: border-box;
/*  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);*/
/*  padding: 20px;*/
/*  margin: 0 0 16px 0;*/
}

form input:has(+button[icon]),
form select:has(+button[icon]) {
  margin-right: 8px;
  width: calc(100% - 50px);
}

table {
  background-color: var(--table);
/*  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);*/
  border-collapse: collapse;
/*  margin: 0 0 15px 0;*/
  width: 100%;
}

table tr {
  height: 52px;
}

table th {
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  text-align: left;
  vertical-align: bottom;
  color: var(--header);
  padding: 10px 20px;
}

table td {
  font-size: 14px;
  white-space: nowrap;
  padding: 4px 20px;
}

/*
table td span,
table td a {
  white-space: nowrap;
}
*/
/*
table td button span {
  padding-left: 16px;
}
*/

table td:first-of-type:has(button[icon]) {
  padding-right: 0;
}

/*table td button {
  margin: 0;
  visibility: hidden;
}*/

/*table tr:hover td button {
  visibility: visible;
}*/

table tr:not(:last-child) > th,
table tr:not(:last-child) > td {
  border-bottom: 1px solid var(--border);
}

/*
table tr[expand] {
  background-color: var(--title);
}*/

table tr[expand] > td {
  padding: 0;
}

table tr[expand] > td:first-child {
  border-right: 1px solid var(--border);
}

table form {
  white-space: wrap;
  padding: 10px 20px 0 20px;
}

/* ----- */

* {
  outline: none;
}

main table td,
main pre {
  user-select: text;
}

::placeholder {
  text-transform: none;
  color: var(--button);
}

[online] {
}

[offline] {
  font-size: 14px;
  box-sizing: border-box;
  background-color: var(--error);
  color: white;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  margin: 0 0 16px 0;
  padding: 0 20px;
  line-height: 52px;
  height: 52px;
  width: 100%;
}

[offline] i {
  margin-right: 16px;
}

[selected] {
  color: var(--hilight);
}

[raised] {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

[primary] {
  color: var(--hilight);
}

[secondary] {
  color: var(--button);
}

[error] {
  color: var(--error);
}

/*
[indent="1"] {
  text-indent: 16px;
}

[indent="2"] {
  text-indent: 32px;
}

[indent="3"] {
  text-indent: 48px;
}

[indent="4"] {
  text-indent: 64px;
}
*/

[hidden] {
  display: none;
}

[disabled] {
  color: var(--border) !important;
  pointer-events: none;
}

[data-tip] {
  position: relative;
  transition: opacity 0.2s;
}

[data-tip]:before {
  content: attr(data-tip);
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  background: var(--border);
  color: var(--text);
  text-align: center;
  text-transform: none;
  white-space: nowrap;
  border-radius: 4px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  padding: 4px 8px;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}

[data-tip]:hover:before {
  transition-delay: 0.8s;
  opacity: 1;
}

[data-pos="top"]:before {
  left: 50%;
  transform: translate(-50%, -140%);
}

[data-pos="left"]:before {
  right: 110%;
  transform: translate(0, -15%);
}

[data-pos="bottom"]:before {
  left: 50%;
  transform: translate(-50%, 120%);
}

[data-pos="right"]:before {
  left: 110%;
  transform: translate(0, -15%);
}

/* Animation */

[ripple] {
  background-image: radial-gradient(circle, transparent 1%, var(--border) 1%);
  background-size: 15000%;
  background-position: center;
  transition: opacity 0.2s ease, background-color 0.5s ease, background-size 0.5s ease;
}

[ripple]:active {
  background-color: var(--border);
  background-size: 50%;
  transition: opacity 0.2s ease, background-color 0.15s ease, background-size 0.15s ease;
}

form button {
  transition: background-color 0.2s ease;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea {
  transition: border-color 0.2s ease;
}

main:not([hidden]) sub::before {
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
